$color_primary: rgba(27, 36, 47, 1);
$color_CG: rgba(35, 35, 39, 1);
$color_WS: rgba(246, 244, 243, 1);
$color_MRP: rgba(13, 6, 48, 1);
$color_B: rgba(71, 49, 152, 1);
$color_LBB: rgba(114, 137, 218, 1);
$color_JWL: rgba(71, 23, 246, 1);

// Other cool colors

$color_CP: rgba(250, 49, 56, 1);
$color_LG: rgba(67, 181, 129, 1);
$color_LY: rgba(253, 206, 20, 1);

$color_gray: rgba(110, 117, 123, 1);
