
/* CARD START */


.block{
  box-sizing: border-box;
  background-color: white;
  width: 100%;
  padding: 25px;
  color: black;

  &.withshadow{
    box-shadow: 0 12px 30px 0 rgba(35,39,42,.1);
  }

  &.round{
    border-radius: 5px;
  }

  &.p-10{
    padding: 10px 25px;
  }

}

.block .title{
  @extend .m-0;
  @extend .m-10;
}

.block .description{
  @extend .m-0;
  @extend .m-25;
  color: $color_gray;
}

.block p{
  font-size: 18px;
}

/* BLOCK END */

.accordeon{
  height: 0px;
  display: none;
  transition: 0.5s;
}

.accordeon.show{
  height: auto;
  display: block;
  transition: 0.5s;
}
