
.form{
  box-sizing: border-box;
  width: 100%;
  padding: 25px;
  color: black;
  &.default-style{
    background: $color_WS;
    border-radius: 5px;
  }
  &.ext-padding{
    padding: 45px 25px;
  }
  & p{
    @extend .m-35;
  }
  body.light &{
    background-color: white;
  }
}

.field{
  @extend .m-25;
}

.field.m-0{
  margin-bottom: 0;
}

.field .error{
  margin-top: 5px;
  color: darken( $color_CP, 25% );

}

label{
  font-size: 15px;
  display: inline-block;
  @extend .m-5;
  color: black;
}

@for $i from 2 through 4 {
  .fields.i-#{$i} {
    @extend .flexrow;
    & .field{
      width: (100% - 5%) / $i;
    }
  }
}

.input{
  -webkit-appearance: none;
  box-sizing: border-box;
  border-radius: 5px;
  background: white;
  border: 1.4px solid rgba(34,36,38,0.15);
  padding: 8px 18px;
  transition: 0.3s;
  &:focus{
    outline: none;
    border: 1.4px solid transparentize($color_LBB, 0.25);
    transition: 0.3s;
  }
  &.fluid{
    width: 100%;
  }
}

@media (max-width: 768px) {
  .input {
    font-size: 12pt;
  }
}

/*--------------
   Input types
  --------------*/

@mixin InputType($color, $tcolor) {
  border: 1.4px solid $color;
  background-color: lighten($color, 33%);
  color: $tcolor;
}

.input.error{
  @include InputType($color_CP, black);
}

.input.warning{
  @include InputType($color_LY, black);
}


.input.success{
  @include InputType($color_LG, black);
}


/*--------------
      Field
  --------------*/

.field.flex{
  display: flex;
}

.field.m-0{
  margin-bottom: 0;
}
