.grid{
  display: grid;
  width: 100%;
  grid-gap: 20px;
  margin-bottom: 30px;
  &.features{
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
  &.form-banner{
    grid-template-columns: 1fr 550px;
  }
  &.form-banner-reversed{
    grid-template-columns: 550px 1fr;
  }
  &.featured-sales{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1350px) {
  .grid.form-banner, .grid.form-banner-reversed {
    grid-template-columns: 1fr;
  }

}

@media (max-width: 1040px) {
  .grid.featured-sales {
    grid-template-columns: 1fr;
  }
}
