.table{
  color: white;
  border-spacing: 15px;
  table-layout: auto;
  width: 100%;
  & th{
    font-weight: normal;
    text-align: left;
    padding-bottom: 15px;
  }
  & tbody tr{
    @extend .m-15;
  }
}

.table.light, .body.light .table{
  color: black;
  & th{
    color: #a7a6ae;
  }
}
